@page "/feedbacks/details"
@using Microsoft.EntityFrameworkCore
@using TemasekShuttleV3.Domain
@inject IDbContextFactory<TemasekShuttleV3.Data.TemasekShuttleV3Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Feedback</h2>
    <hr />
    @if (feedback is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">FeedbackRating</dt>
            <dd class="col-sm-10">@feedback.FeedbackRating</dd>
            <dt class="col-sm-2">FeedbackContent</dt>
            <dd class="col-sm-10">@feedback.FeedbackContent</dd>
            <dt class="col-sm-2">BookingId</dt>
            <dd class="col-sm-10">@feedback.BookingId</dd>
        </dl>
        <div>
            <a href="@($"/feedbacks/edit?id={feedback.Id}")">Edit</a> |
            <a href="@($"/feedbacks")">Back to List</a>
        </div>
    }
</div>

@code {
    private Feedback? feedback;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        feedback = await context.Feedback.FirstOrDefaultAsync(m => m.Id == Id);

        if (feedback is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
