@page "/buses/details"
@using Microsoft.EntityFrameworkCore
@using TemasekShuttleV3.Domain
@inject IDbContextFactory<TemasekShuttleV3.Data.TemasekShuttleV3Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Bus</h2>
    <hr />
    @if (bus is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">BusPlate</dt>
            <dd class="col-sm-10">@bus.BusPlate</dd>
            <dt class="col-sm-2">BusCapacity</dt>
            <dd class="col-sm-10">@bus.BusCapacity</dd>
            <dt class="col-sm-2">ScheduleId</dt>
            <dd class="col-sm-10">@bus.ScheduleId</dd>
        </dl>
        <div>
            <a href="@($"/buses/edit?id={bus.Id}")">Edit</a> |
            <a href="@($"/buses")">Back to List</a>
        </div>
    }
</div>

@code {
    private Bus? bus;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        bus = await context.Bus.FirstOrDefaultAsync(m => m.Id == Id);

        if (bus is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
